<h1 style="color: red">Warning</h1>

<h2>Content Violation Policy:</h2>
<ol>
  <li>
    Purpose Our platform is dedicated to fostering a safe, inclusive, and
    respectful environment for all users. To ensure this, we have established
    guidelines to address content that violates our standards. This policy
    outlines prohibited content, enforcement actions, and reporting procedures.
  </li>
  <li>
    Scope This policy applies to all content shared on our platform, including
    but not limited to posts, comments, messages, images, and videos. By using
    our platform, users agree to abide by this policy.
  </li>
</ol>
